<h1>Formulario</h1>

<div class="container">
    <div class="row">
        <div class="col-10 m-auto">
            <form [formGroup]="formulario" id="formularioPokemon" (ngSubmit)="enviar(formulario.value)">
              <!-- { "imagen": "", "titulo": "", "fecha": "", "textoCorto": "", "texto": "" }  -->
              <div class="form-group">
                <label for="titulo">Titulo</label>
                <input
                formControlName="titulo"
                type="text"
                class="form-control"
                id="titulo" placeholder="Titulo">
              </div>
              <div class="form-group">
                <label for="imagen">Imagen</label>
                <input
                formControlName="imagen"
                type="text"
                class="form-control"
                id="imagen" placeholder="Imagen">
              </div>
              <img class="imagen" src="{{ formulario.value.imagen }}" alt="">
              <div class="form-group">
                <label for="textoCorto">Texto Corto</label>
                <textarea
                formControlName="textoCorto"
                type="text"
                class="form-control"
                id="textoCorto" placeholder="Texto Corto">
                </textarea>
              </div>
              <div class="form-group">
                <label for="texto">Texto</label>
                <textarea
                formControlName="texto"
                type="text"
                class="form-control"
                id="texto" placeholder="Texto">
              </textarea>
              </div>
              <div class="form-group">
                <label for="fecha">Fecha</label>
                <input
                formControlName="fecha"
                type="date"
                class="form-control"
                id="fecha" placeholder="Fecha">
              </div>
              <input class="my-2 mt-2 btn btn-block btn-primary"
                type="submit"
                form="formularioPokemon" [disabled]="formulario.invalid"
                value="Enviar">
            </form>
        </div>
    </div>
</div>

